---
---
/**
 * Speakers
 */

{% for speaker in site.data.speakers %}
.mugshot.{{ speaker.css_class }} {
  background-image: url('{{ speaker.img }}');
}

div:hover > .mugshot.{{ speaker.css_class }},  .long-bio:hover .mugshot.{{ speaker.css_class }} {
  background-image: url('{{ speaker.img_hover }}');
}
{% endfor %}
