<footer>
  <div class="container">
    <div class="row text-center">
      <div class="col-sm-4 ">
        <p>To avoid the complete sadness of missing out —</p>
      </div>
      <div class="col-sm-4">
        <a href="http://codeforafrica.us6.list-manage.com/subscribe?u=65e5825507b3cec760f272e79&id=6e12ab556c" target="_blank" class="button-register"></a>
      </div>
      <div class="col-sm-4">
        <p>
          Contact us here —
          <a href="mailto:mediaparty@codeforafrica.org" target="_blank">
            <i class="fa fa-envelope-o fa-lg"></i>
          </a>
          <a href="https://twitter.com/MediaPartyAfr" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>
          <a href="https://facebook.com/CodeForAfrica/" target="_blank"><i class="fa fa-facebook fa-lg"></i></a>
          <a href="https://instagram.com/codeforafrica__" target="_blank"><i class="fa fa-instagram fa-lg"></i></a>
        </p>
      </div>
    </div>
  </div>
</footer>

<div style="height: 0px; overflow: hidden;">
  <img src="/img/buttons/but-block04_hover.png"/>
</div>
