<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-4 text-center">
        <p>To avoid the complete sadness of missing out —</p>
      </div>
      <div class="col-sm-4 text-center">
        <a href="https://www.eventbrite.com/e/media-party-africa-tickets-27194686038" target="_blank" class="button-register"></a>
      </div>
      <div class="col-sm-4">
        <p>
          Contact us here —
          <a href="mailto:info@innovateafrica.fund" target="_blank">
            <i class="fa fa-envelope-o fa-lg"></i>
          </a>
          <a href="https://twitter.com/MediaPartyAfr" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>
          <a href="https://facebook.com/CodeForAfrica/" target="_blank"><i class="fa fa-facebook fa-lg"></i></a>
          <a href="https://instagram.com/codeforafrica__" target="_blank"><i class="fa fa-instagram fa-lg"></i></a>
        </p>
      </div>
    </div>
  </div>
</footer>
