<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img alt="Brand" src="/img/assets/assets-logo.png">
      </a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          <img src="/img/buttons/but-menu.png" alt="">
        </a>
        <ul class="dropdown-menu">
          <li><a href="#">Cape Town</a></li>
          <li><a href="#">Accomodation</a></li>
          <li><a href="#">Venue</a></li>
        </ul>
      </li>
    </ul>
  </div><!-- /.container-fluid -->
</nav>
