/**
 * Default items
 */

html, body {
  font-family: Arial, sans-serif;
  color: #000;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 35px;
}

h1, h2, h3, h4 {
  font-weight: bold;
}


img {
  max-width: 100%;
}

.navbar {
  background-color: transparent;
  border: none;
  margin-bottom: -57px;
  height: 57px;
  .navbar-header {
    float: left;
    .navbar-brand {
      img {
        height: 115px
      }
    }
  }
  
  .navbar-nav {
    &.navbar-right {
      float: right !important;
    }
    .open .dropdown-menu {
      background-color: $blue;
    }
    .open>a, .open>a:focus, .open>a:hover {
      background-color: #fff;
    }
    img {
      height: 21px;
    }
  }
}

.container {
  max-width: 800px;
}

.btn {
  border-radius: 0px;
  font-weight: bold;
  font-size: 15px;
  &.btn-primary {
    background-color: $blue;
    border-color: $blue;
    &:hover, &:focus {
      background-color: #fff;
      color: $blue;
    }
  }
}

.dropdown-menu {
  background-color: $blue;
  border-radius: 0;
  li {
    a {
      color: #fff !important;
      font-weight: bold;
      &:hover {
        color: #000 !important;
        background-color: #fff !important;
      }
    }
  }
}



.text-blue {
  color: $blue;
}

.text-white {
  color: #fff;
}

.text-transparent {
  color: transparent;
}

.text-indent {
  padding-left: 55px;
}

.bg-off-white {
  background-color: $off-white;
}

.bar-white, .bar-blue {
  height: 5px;
}
.arrow-down, .arrow-up {
  height: 10px;
}
