/**
 * Default items
 */

html, body {
  font-family: Arial, sans-serif;
  color: #000;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 35px;
}

h1, h2, h3, h4 {
  font-weight: bold;
}


img {
  max-width: 100%;
}


.container {
  max-width: 800px;
}



.text-blue {
  color: $blue;
}

.text-white {
  color: #fff;
}

.text-transparent {
  color: transparent;
}

.text-indent {
  padding-left: 55px;
}

.bg-off-white {
  background-color: $off-white;
}

.bar-white, .bar-blue {
  height: 5px;
}
