<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{{ site.title }} | {{ page.title }}</title>
        <meta name="description" content="{{ site.description }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta http-equiv="refresh" content="0; url=http://codeforafrica.us6.list-manage.com/subscribe?u=65e5825507b3cec760f272e79&id=6e12ab556c">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <meta property="og:site_name" content="{{ site.title }}" />
        <meta property="og:title" content="{{ page.title }}" />
        <meta property="og:description" content="{{ site.description }}" />

        <!-- <meta property="og:video" content="{{ site.url }}/preview.mp4" />
        <meta property="og:video:secure_url" content="{{ site.url }}/preview.mp4" />
        <meta property="og:video:type" content="video/mp4" />
        <meta property="og:video:width" content="960" />
        <meta property="og:video:height" content="600" /> -->
        <meta property="og:image" content="{{ site.url }}/preview.png" />

        <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
        <meta property="og:type" content="website" />
        <meta property="fb:app_id" content="1485137868446481">
        
        <link rel="canonical" href="{{ site.url }}{{ page.url }}" />
        
        <script type="text/javascript">
          var host = "{{ site.enforce_ssl }}";
          if ((host == window.location.host) && (window.location.protocol != "https:"))
              window.location.protocol = "https";
        </script>

        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/main.css">

        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/speakers.css">

        <script src="/js/vendor/modernizr-2.8.3.min.js"></script>
    </head>
    <body class="{{ page.body_class }}">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->

        {% include navbar.html %}

        {{ content }}

        <script src="js/vendor/jquery-1.12.0.min.js"></script>
        <script>window.jQuery || document.write('<script src="https://code.jquery.com/jquery-1.12.0.min.js"><\/script>')</script>
        <script src="/js/plugins.js"></script>

        <script src="/js/vendor/bootstrap.min.js"></script>
        <script src="/js/main.js"></script>


        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='https://www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-44795600-26','auto');ga('send','pageview');
        </script>
    </body>
</html>
