<section class="header">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <h1 class="text-blue">
                    Continental Shift:<br/>
                    the invention of the new.
                </h1>
                <h4 class="text-right text-white">
                    Cape Town<br/>
                    November 23 <img src="/img/assets/assets-bar_white.png" style="height: 2px;" /> 25, 2017
                </h4>

                <div class="row text-center">
                    <div class="col-sm-4 button button-1">
                        <p><a href="https://www.eventbrite.com/e/media-party-africa-2017-tickets-37599278454?aff=es2" target="_blank"></a></p>
                    </div>
                    <div class="col-sm-4 button button-2">
                        <p><a href="https://docs.google.com/forms/d/1nYOr4DgTEEmy5a8Y9BLNCyrEfOpIbhQ47kTm8WpD314/edit" target="_blank"></a></p>
                    </div>
                    <div class="col-sm-4 button button-3">
                        <p><a href="https://docs.google.com/forms/d/1nYOr4DgTEEmy5a8Y9BLNCyrEfOpIbhQ47kTm8WpD314/edit" target="_blank"></a></p>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <div class="fullscreen-bg">
        <video loop muted autoplay poster="/img/background/banner_1.png" class="fullscreen-bg__video">
            <source src="/img/background/MPA_Animate.webm" type="video/webm">
            <source src="/img/background/MPA_Animate.mp4" type="video/mp4">
        </video>
    </div>
</section>

<p class="text-center scroll-down">
    <a href="#scroll-down">
        Scroll Down<br/>
        <img src="/img/assets/assets-arrow_white_down.png" class="arrow-down">
    </a>
</p>

<a name="scroll-down"></a>

<section class="header-links">
    <div class="container text-center">
        <div class="row">
            <div class="col-xs-6 col-sm-3">
                <p class="text-blue lead"><a href="/cape-town">Cape Town</a></p>
            </div>
            <div class="col-xs-6 col-sm-3">
                <p class="text-blue lead"><a href="/accommodation">Accommodation</a></p>
            </div>
            <div class="col-xs-6 col-sm-3">
                <p class="text-blue lead"><a href="https://en.wikipedia.org/wiki/Portside_Tower" target="_blank">Venue</a></p>
            </div>
            <div class="col-xs-6 col-sm-3">
                <p class="text-blue lead"><a href="/tours">Tours</a></p>
            </div>
        </div>
    </div>
</section>
