<section class="header">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <h1 class="text-blue">
                    Disruption,<br/>
                    democracies and<br/>
                    digital media.
                </h1>
                <h4 class="text-right text-white">
                    Cape Town<br/>
                    October 21 - 23, 2016
                </h4>

                <div class="row text-center">
                    <div class="col-sm-4 button button-1">
                        <p><a href="#"></a></p>
                    </div>
                    <div class="col-sm-4 button button-2">
                        <p><a href="#"></a></p>
                    </div>
                    <div class="col-sm-4 button button-3">
                        <p><a href="#"></a></p>
                    </div>
                </div>

                <p class="text-center">
                    <a href="#">
                        Scroll Down<br/>
                        <img src="/img/assets/assets-arrow_white_down.png" class="arrow-down">
                    </a>
                </p>
            </div>
        </div>
    </div>
    <div class="fullscreen-bg">
        <video loop muted autoplay poster="/img/background/banner_1.png" class="fullscreen-bg__video">
            <source src="/img/background/MPA_Animate.webm" type="video/webm">
            <source src="/img/background/MPA_Animate.mp4" type="video/mp4">
        </video>
    </div>
</section>

<section class="header-links">
    <div class="container text-center">
        <div class="row">
            <div class="col-xs-4">
                <p class="lead"><a href="#">Cape Town</a></p>
            </div>
            <div class="col-xs-4">
                <p class="lead"><a href="#">Accomodation</a></p>
            </div>
            <div class="col-xs-4">
                <p class="lead"><a href="#">Venue</a></p>
            </div>
        </div>
    </div>
</section>
