<section class="header">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <h1 class="text-blue">
                    Disruption,<br/>
                    democracies and<br/>
                    digital media.
                </h1>
                <h4 class="text-right text-white">
                    Cape Town<br/>
                    October 20 - 22, 2016
                </h4>

                <div class="row text-center">
                    <div class="col-sm-4">
                        <a href="#"><img src="/img/buttons/but-block01.png" /></a>
                    </div>
                    <div class="col-sm-4">
                        <a href="#"><img src="/img/buttons/but-block02.png" /></a>
                    </div>
                    <div class="col-sm-4">
                        <a href="#"><img src="/img/buttons/but-block03.png" /></a>
                    </div>
                </div>

                <p class="text-center">
                    <a href="#">
                        Scroll Down<br/>
                        <img src="/img/assets/assets-arrow_white_down.png" class="arrow-down">
                    </a>
                </p>
            </div>
        </div>
    </div>
</section>
