<section class="take-part bg-off-white">
    <div class="container">
      <h2 class="text-blue">
        Be a part of<br/>
        Media Party Africa
      </h2>
      <div class="row">
        <div class="col-sm-7">
          <p><img src="/img/assets/assets-bar_blue.png" alt="" class="bar-blue"></p>
          <p class="text-indent">Media Party Africa is hosted by the continent’s largest data journalism and civic technology federation, <a href="https://codeforafrica.org/" target="_blank">Code for Africa</a>, in partnership with <a href="https://facebook.com/HacksHackersAfrica/" target="_blank">Hacks/Hackers Africa</a>. Together, we're gathering some of the world’s most exciting civic technologists, digital journalists and other social justice watchdogs from across the world for three days of workshops and talks. Media Party Africa is modelled on the original <a href="http://mediaparty.info/" target="_blank">Media Party</a>, in Buenos Aires, which has been taking place annually for the last five years.</p>
          <p class="text-blue lead">This is the first year that it will be held in Africa, in one of the continent’s tech &amp; design capitals, Cape Town.</p>
          <p class="text-indent">We're looking to have a major influence on newsrooms and civil society organisations in Africa. We’re putting the best of media and technology practitioners together to kickstart new ventures, and showcase existing successes. Areas of interest include data liberation, drone and sensor journalism, 360 and VR journalism, investigative tech, geo-journalism, verification, chat apps and the rise of the bots.</p>
        </div>
        <div class="col-sm-5">
          <p><img src="/img/assets/assets-bar_blue.png" alt="" class="bar-blue"></p>
          <div class="row">
            <div class="col-xs-10">
              <h4>Media Party Africa takes place from October 21 — 23, 2016.</h4>
              <p>If you’d like to run a workshop, be part of the Media Fair, or just attend as a curious delegate, please let us know.</p>
              <br/><br/>
              <p><a href="https://www.eventbrite.com/e/media-party-africa-tickets-27194686038" target="_blank" class="button-register"></a></p>
            </div>
            <div class="col-xs-2 text-center">
              <p><a href="https://twitter.com/MediaPartyAfr" target="_blank"><i class="fa fa-twitter fa-2x"></i></a></p>
              <p><a href="https://facebook.com/CodeForAfrica/" target="_blank"><i class="fa fa-facebook fa-2x"></i></a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
