<section class="take-part bg-off-white">
    <div class="container">
      <h2 class="text-blue">
        Be a part of<br/>
        Media Party Africa
      </h2>
      <div class="row">
        <div class="col-sm-7">
          <p><img src="/img/assets/assets-bar_blue.png" alt="" class="bar-blue"></p>
          <p class="text-indent">Media Party Africa 2016 brought together over 300 hacktivists and data journalists from 36 cities around the world for three days of knowledge sharing and project creation. These included representatives from some of the world’s leading media and tech brands: Vox, Google, Quartz, ESPN, Pro Publica, Buzzfeed Labs, Huffington Post, Zeit Investigativ, Jigsaw, First Draft News, the Gates Foundation, the Mozilla OpenNews Fellowships and many more.</p>
          <p class="text-blue lead">“What set Media Party Africa apart from the journalism conferences I’ve attended back home was the feeling of cooperation, of truly sharing ideas without the subtext of competition.” - Kainaz Amaria, Vox Media</p>
          <p class="text-indent">In 2017, we’re going to double the number of delegates, and emphasise solutions and inventions peculiar to diverse African countries. We’ll also be bringing experts in their fields from all over the world to share ideas, enthusiasms and plans.<br/>
          Media Party Africa is hosted by the continent’s largest data journalism and civic technology federation, Code for Africa, in partnership with Hacks/Hackers Africa.</p>
        </div>
        <div class="col-sm-5">
          <p><img src="/img/assets/assets-bar_blue.png" alt="" class="bar-blue"></p>
          <div class="row">
            <div class="col-xs-10">
              <h4>Media Party Africa takes place from November 23 — 25, 2017.</h4>
              <p>If you’d like to run a workshop, be part of the Media Fair, or attend as a curious delegate, please let us know.</p>
              <br/><br/>
              <p><a href="http://codeforafrica.us6.list-manage.com/subscribe?u=65e5825507b3cec760f272e79&id=6e12ab556c" target="_blank" class="button-register"></a></p>
            </div>
            <div class="col-xs-2 text-center">
              <p><a href="https://twitter.com/MediaPartyAfr" target="_blank"><i class="fa fa-twitter fa-2x"></i></a></p>
              <p><a href="https://facebook.com/CodeForAfrica/" target="_blank"><i class="fa fa-facebook fa-2x"></i></a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
