<section class="speakers bg-off-white">
  <div class="container">
    <p class="text-right">
      <img src="/img/assets/assets-12.png" style="height: 150px;" />
    </p>
    <h1 class="text-blue">Featured Speakers</h1>
    <div class="row mugshots">
        <div class="col-sm-4">
          <div class="mugshot">
              <img src="/img/speakers/Fabiola-Torres-Lopez.jpg" />
          </div>
          <div class="bio">
            <p class="lead name">Fabiola Torres Lopez</p>
            <p>{</p>
            <p class="org">OjoPublico</p>
            <p>></p>
            <p>Co-founder</p>
            <p>}</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="mugshot">
              <img src="/img/speakers/Fabiola-Torres-Lopez.jpg" />
          </div>
          <div class="bio">
            <p class="lead name">Fabiola Torres Lopez</p>
            <p>{</p>
            <p class="org">OjoPublico</p>
            <p>></p>
            <p>Co-founder</p>
            <p>}</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="mugshot">
              <img src="/img/speakers/Fabiola-Torres-Lopez.jpg" />
          </div>
          <div class="bio">
            <p class="lead name">Fabiola Torres Lopez</p>
            <p>{</p>
            <p class="org">OjoPublico</p>
            <p>></p>
            <p>Co-founder</p>
            <p>}</p>
          </div>
        </div>
    </div>
    <p class="text-center">
      <a href="/speakers" class="btn btn-primary">Find out about all Speakers</a>
    </p>
  </div>
</section>
