<section class="speakers bg-off-white">
  <div class="container">
    <p class="text-right">
      <img src="/img/assets/assets-12.png" style="height: 150px;" />
    </p>
    <h1 class="text-blue">Featured Speakers</h1>
    <div class="row mugshots">
      {% for speaker in site.data.speakers %}
        <div class="col-sm-4">
          <div class="mugshot {{ speaker.css_class }}"></div>
          <div class="bio">
            <p class="lead name">{{ speaker.name }}</p>
            <p>{</p>
            <p class="org">{{ speaker.org }};</p>
            <p>></p>
            <p>{{ speaker.role }};</p>
            <p>}</p>
          </div>
        </div>
        {% if forloop.index == 6 %}
            {% break %}
        {% endif %}
      {% endfor %}
    </div>
    <p class="text-center"><a href="#" class="btn btn-primary">Find out about all Speakers</a></p>
  </div>
</section>