<section class="logos text-center">
  <div class="organised-by">
    <div class="container">
      <p> - ORGANISED BY - </p>
      <p>
        <a href="https://codeforafrica.org/" target="_blank">
          <img src="/img/logos/cfafrica.png" alt="">
        </a>
        <a href="https://facebook.com/HacksHackersAfrica" target="_blank">
          <img src="/img/logos/hha.jpg" alt="">
        </a>
      </p>
    </div>
  </div>
  <div class="support-from bg-off-white">
    <div class="container">
      <p> - WITH SUPPORT FROM - </p>
      <p>
        <a href="http://www.gatesfoundation.org" target="_blank">
          <img src="/img/logos/bmgf.png" alt="" style="height: 55px;">
        </a>
        <a href="http://www.cfi.fr" target="_blank">
          <img src="/img/logos/cfi.png" alt="" style="height: 90px;">
        </a>
        <a href="https://www.omidyar.com" target="_blank">
          <img src="/img/logos/omidyar.png" alt="">
        </a>
      </p>
      <p>
        <a href="https://nonprofits.fb.com" target="_blank">
          <img src="/img/logos/fb.png" alt="">
        </a>
        <a href="https://www.google.com/nonprofits/" target="_blank">
          <img src="/img/logos/google.png" alt="">
        </a>
        <a href="http://www.knightfoundation.org" target="_blank">
          <img src="/img/logos/knight.png" alt="" style="height: 55px;">
        </a>
        <a href="http://worldbank.org/" target="_blank">
          <img src="/img/logos/wb.png" alt="" style="height: 50px;">
        </a>
      </p>
      <p>
        <a href="http://icfj.org/" target="_blank">
          <img src="/img/logos/icfj.png" alt="" style="height: 40px;">
        </a>
      </p>

      <br/>
      <p>
          <a href="#top">
              <img src="/img/assets/assets-arrow_black_up.png" class="arrow-up"><br/>
              BACK TO TOP
          </a>
      </p>
    </div> <!-- /.container -->
    
  </div> <!-- /.support-from.bg-off-white -->
</section>