<section class="logos text-center">
  <div class="organised-by">
    <div class="container">
      <p> - ORGANISED BY - </p>
      <p>
        <a href="https://codeforafrica.org/" target="_blank">
          <img src="/img/logos/cfafrica.png" alt="">
        </a>
        <a href="https://facebook.com/HacksHackersAfrica" target="_blank">
          <img src="/img/logos/hha.jpg" alt="" style="max-height: 120px;">
        </a>
      </p>
    </div>
  </div>
  <div class="support-from bg-off-white">
    <div class="container">
      <p> - 2017 SPONSORS - </p>
      <p>
        <a href="http://www.gatesfoundation.org" target="_blank">
          <img src="/img/logos/bmgf.png" alt="" style="height: 45px;">
        </a>
        <a href="https://www.omidyar.com" target="_blank">
          <img src="/img/logos/omidyar.png" alt="">
        </a>
        <a href="https://newslab.withgoogle.com" target="_blank">
          <img src="/img/logos/google-newslab.png" alt="" style="height: 35px;">
        </a>
      </p>
      <p>
        <a href="https://jigsaw.google.com" target="_blank">
          <img src="/img/logos/google-jigsaw.png" alt="">
        </a>
        <a href="https://www.globaleditorsnetwork.org" target="_blank">
          <img src="/img/logos/gen.png" alt="">
        </a>
        <a href="http://www.knightfoundation.org" target="_blank">
          <img src="/img/logos/knight.png" alt="" style="height: 55px;">
        </a>
      </p>
      <p>
        <a href="https://icfj.org/" target="_blank">
          <img src="/img/logos/icfj.png" alt="" style="max-height: 45px;">
        </a>
        <a href="http://hackshackers.com" target="_blank">
          <img src="/img/logos/hh.png" alt="" style="max-height: 45px;">
        </a>
      </p>

      <br/>
      <p> - PARTNERS - </p>
      <p>
        <a href="https://africandrone.org/" target="_blank">
          <img src="/img/logos/africandrone.png" alt="" style="height: 75px !important;">
        </a>
        <a href="https://investigativecenters.org" target="_blank">
          <img src="/img/logos/ancir.png" alt="" style="max-height: 55px;">
        </a>
        <a href="http://www.sabc.co.za/sabc/" target="_blank">
          <img src="/img/logos/sabc.png" alt="" style="max-height: 55px;">
        </a>
      </p>
      <p>
        <a href="https://openup.org.za" target="_blank">
          <img src="/img/logos/openup.svg" alt="" style="max-height: 45px;">
        </a>
        <a href="https://codefortanzania.org" target="_blank">
          <img src="/img/logos/cftanzania.png" alt="" style="max-height: 45px;">
        </a>
        <a href="https://codefornigeria.org" target="_blank">
          <img src="/img/logos/cfnigeria.png" alt="" style="max-height: 45px;">
        </a>
        <a href="https://codeforkenya.org" target="_blank">
          <img src="/img/logos/cfkenya.png" alt="" style="max-height: 45px;">
        </a>
      </p>


      <br/>
      <p>
          <a href="#top">
              <img src="/img/assets/assets-arrow_black_up.png" class="arrow-up"><br/>
              BACK TO TOP
          </a>
      </p>
    </div> <!-- /.container -->

  </div> <!-- /.support-from.bg-off-white -->
</section>
