<section class="logos text-center">
  <div class="organised-by">
    <div class="container">
      <p> - ORGANISED BY - </p>
    </div>
  </div>
  <div class="support-from bg-off-white">
    <div class="container">
      <p> - WITH SUPPORT FROM - </p>
      <p><img src="/img/background/banner_sponsor.png" alt=""></p>
      <br/>
      <p>
          <a href="#">
              <img src="/img/assets/assets-arrow_black_up.png" class="arrow-up"><br/>
              BACK TO TOP
          </a>
      </p>
    </div>
    
  </div>
</section>